<h3>Schedule a Consultation</h3>
<p>Schedule an appointment with {{title}} by clicking below. Then select your preferred date and time. If you don't have a preference, or don't see your preferred time available, please add a note to the submission.</p>
<div class="elementor-button-wrapper">
  <a href="{{alt_link}}" target="{{target}}" class="elementor-button-link elementor-button elementor-size-{{size}}" {{#if style}}style="{{style}}"{{/if}} role="button">
    <span class="elementor-button-content-wrapper">
      {{#if icon}}
      <span class="elementor-button-icon elementor-align-icon-{{icon_align}}">
        <i aria-hidden="true" class="fas fa-{{icon}}"></i>
      </span>
      {{/if}}
      <span class="elementor-button-text">{{text}}</span>
    </span>
  </a>
</div>